* {
    --box-shadow-color: rgba(91, 83, 83, 0.733);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 630px;
}

.registration-container {
    box-shadow: 3px 3px 5px var(--box-shadow-color);
    border-radius: 20px;
    padding: 1% 1em 3% 1em;
    margin: auto;
}

.registration-header {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.registration-header h4 {
    text-align: center;
}

/* monitors and laptops */
@media (min-width: 1240px)  {}

/* tablet */
@media (min-width: 1024px) and (max-width: 1240px)  {}

@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* mobile */
@media (max-width: 768px) {
    .registration-container{        
        box-shadow: none;
        padding-top: 7rem;
    }
}